output/
.devcontainer/
internal-tests/
LCM/Datum/*

**.bak
*.local.*
!**/README.md
.kitchen/

*.clixml
*.suo
*.user
*.coverage
.vs
.psproj
.sln
markdownissues.txt
node_modules
package-lock.json

CodeCoverage.JaCoCo.xml
.vscode/launch.json
Temp/*
TestProject.yml
TestProject2.yml
settings.json
